<div id="navbar-wrapper" class="navbar navbar-dark bg-inverse navbar-fixed-left">
  <div class="navbar-header">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <a class="navbar-brand" href="#">
      {{ partial "svgs/site-logo.html" . }}
    <a class="navbar-brand__title" href="">Jacob Tarr</a>
    </a>
  </div>
  <div class="navbar__menu navbar-toggleable-md collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li>
        <a href="#contact"><span>Home</span><i class="fa fa-angle-right"></i></a>
      </li>
      <li>
        <a href="#contact"><span>About</span><i class="fa fa-angle-right"></i></a>
      </li>
      <li>
        <a href="#contact"><span>Work</span><i class="fa fa-angle-right"></i></a>
      </li>
      <li>
        <a href="#contact"><span>Process</span><i class="fa fa-angle-right"></i></a>
      </li>
      <li>
        <a href="#contact"><span>Contact</span><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>

  </div>
  <!--/.navbar-collapse -->
  <div class="navbar__footer">
    <div class="navbar__social-links">
      <a class="navbar__social-link" href="#">
        <i class="fas fa-behance"></i>
      </a>
    </div>
    <div class="navbar__copyright-wrapper">
      Jacob Tarr &copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
    </div>
  </div>
</div>
