<nav id="navbar-wrapper" class="navbar navbar-dark bg-inverse navbar-expand-xl navbar-fixed-left">
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#jtNavbar" aria-controls="jtNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <div class="navbar-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <a class="navbar-brand" href="#">
      {{ partial "svgs/site-logo.html" . }}
      <a class="navbar-brand__title" href="">Jacob Tarr</a>
    </a>
  </div>


  <div class="collapse navbar-collapse" id="jtNavbar">
    <ul class="nav navbar-nav">
      <li>
        <a href="#about"><span>About</span>
          <div class="nav-arrow">
            {{ partial "svgs/icon-arrow.html" . }}
          </div>
        </a>
      </li>
      <li>
        <a href="#process"><span>Process</span>
          <div class="nav-arrow">
            {{ partial "svgs/icon-arrow.html" . }}
          </div>
        </a>
      </li>
      <li>
        <a href="#work"><span>Work</span>
          <div class="nav-arrow">
            {{ partial "svgs/icon-arrow.html" . }}
          </div>
        </a>
      </li>
      <li>
        <a href="#contact"><span>Contact</span>
          <div class="nav-arrow">
            {{ partial "svgs/icon-arrow.html" . }}
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar__footer">
    <div class="navbar__social-links">
      <a class="navbar__social-link" href="#">
        <i class="fab fa-behance"></i>
      </a>
      <a class="navbar__social-link" href="#">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="navbar__social-link" href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
    <div class="navbar__copyright-wrapper">
      Jacob Tarr &copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
    </div>
  </div>
</nav>
