/* -----------------------------------------------------
/* Base
/* ----------------------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-family: $ff-tisa;
	line-height: 1.35;
}

a {
	transition: all 0.2s linear;
	color: $jt-green;
	&:hover, &:focus {
		text-decoration: none;
	}
}

#site-wrapper {
	// display: flex;
	// height: 100vh;
	// overflow: hidden;
}

.main-content {
	width: calc(100% - 220px);
	margin-left: 220px;
	// height: 100vh;
	// position: relative;
	// overflow-y: scroll;
  // overflow-x: hidden;
}

@include media-breakpoint-down(lg) {

	#site-wrapper {
		height: auto;
		overflow-x: hidden;
	}

	.main-content {
		height: auto;
		position: static;
		//overflow: auto;
		margin-top: 60px;
		margin-left: 0;
		width: 100%;

	}

}
