<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>

  {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

  <title>{{ block "title" . }}
    {{ .Site.Title -}}
    {{ end }}</title>

    {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}

    {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body style="position: relative;" data-spy="scroll" data-target="#navbar-wrapper">

    <div id="site-wrapper">

      {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}


      <main class="main-content">
        {{ block "main" . }}{{ end }}
      </main>


      {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

      {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}
    </div>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </body>
  </html>
