/* -----------------------------------------------------
/* Content
/* ----------------------------------------------------- */

.content-wrapper {
	// position: relative;
	// top: 510px;
	//margin-top: 510px;
	text-align: center;
}

.content-spacer {
	padding: 0 55px;
}

.content-section .content-spacer {
	padding: 75px 55px;
}

.content-title {
	font-family: $effra;
	background: $jt-yellow;
	border-top: 5px solid $jt-black;
	border-bottom: 5px solid $jt-black;
	//font-size: 36px;
	@include rfs(36);
	text-transform: uppercase;
	font-weight: 500;
	padding: 20px;
	position: relative;
	&::after,
	&::before {
		content: '';
		left: 50%;
		position: absolute;
	}
	&::before {
		bottom: -30px;
		z-index: 20;
		margin-left: -28px;
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		border-top: 33px solid $jt-yellow;
	}
	&::after {
		bottom: -38px;
		z-index: 10;
		margin-left: -33px;
		border-left: 33px solid transparent;
		border-right: 33px solid transparent;
		border-top: 38px solid $jt-black;
	}
}

.content-intro {
	//font-size: 20px;
	@include rfs(20);
	margin-bottom: 50px;
}

.content-subtitle {
	//font-size: 28px;
	@include rfs(28);
	font-weight: 700;
	margin-bottom: 55px;
	position: relative;
}

.bordered-triangle {
	left: 50%;
	bottom: -30px;
	margin-left: -15.5px;
	position: absolute;
	width: 31px;
	height: 18px;
	&::before {
		content: '';
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.75 16L28.5 1H3L15.75 16Z' fill='%23FFED78' stroke='%23333333' stroke-width='2'/%3e%3c/svg%3e");
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.content-divider {
	margin-top: 15px;
	margin-bottom: 15px;
}

// .content-divider__svg {
//   stroke-dasharray: 300;
//   stroke-dashoffset: 300;
//   animation: dash 1.5s linear infinite;
// }
//
// @keyframes dash {
//   to {
//     stroke-dashoffset: 0;
//   }
// }

@include media-breakpoint-down(lg) {

	.content-section .content-spacer {
		padding: 55px 0px;
	}

	.content-spacer {
		padding: 0;
	}

}

@include media-breakpoint-down(sm) {

	.content-title {
		border-top: 3px solid $jt-black;
		border-bottom: 3px solid $jt-black;
		&::before {
			bottom: -23px;
			margin-left: -20px;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 25px solid $jt-yellow;
		}
		&::after {
			bottom: -28px;
			margin-left: -23px;
			border-left: 23px solid transparent;
			border-right: 23px solid transparent;
			border-top: 28px solid $jt-black;
		}
	}

	.content-section .content-spacer {
		padding: 45px 0px;
	}

	.content-intro {
		font-size: 16px;
	}

}
