<svg viewBox="0 0 86 64" xmlns="http://www.w3.org/2000/svg">
    <title>site logo</title>
    <g class="site-logo" fill="none" fill-rule="evenodd">
        <g class="letter-t" fill="#FFED78">
            <path class="letter-t__block-1" d="M44 0h20v20H44z"/>
            <path class="letter-t__block-2" d="M66 0h20v20H66z"/>
            <path class="letter-t__block-3" d="M44 22h20v20H44z"/>
            <path class="letter-t__block-4" d="M44 44h20v20H44z"/>
            <path class="letter-t__block-5" d="M22 0h20v20H22z"/>
        </g>
        <g class="letter-j" fill="#60BFBA">
            <path class="letter-j__block-1" d="M22 22h20v20H22z"/>
            <path class="letter-j__block-2" d="M22 44h20v20H22z"/>
            <path class="letter-j__block-3" d="M0 44h20v20H0z"/>
        </g>
    </g>
</svg>
