<div class="content-title">About</div>
<div class="content-spacer">
  <div class="container">
    <div class="row">
      <div class="col-md-24">
        <div class="content-intro">
          <p>
            I'm really good at <strong>making websites</strong> and biking hundreds of miles per week. However, I only went to school for one of those things. I graduated in 2014 with my Masters in Computer Science at Gannon University in Erie, Pa. Fun
            fact: I earned my bachelor's degree in Journalism before realized I loved designing things for the web. I'm currently a <strong>front end web developer</strong> in <strong>Akron, Ohio</strong> for EYEMG Interactive Media Group and moonlight
            as a <strong>freelancer</strong>.
          </p>
          <p class="m-0">
            I like to think of myself as a <strong>jack-of-all-trades</strong> when it comes to web design: I create logos and user interfaces and also code websites using both front end and back end technologies.
          </p>
        </div>
        <div class="content-section__subsection">
          <h3 class="content-subtitle"><span>Here's what I do</span><div class="bordered-triangle"></div></h3>
          <div class="features">
            <div class="row justify-content-between">
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-paint-brush.html" . }}
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Logo and <br>UI design
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-browser.html" . }}
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Frontend <br>UI design
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-rocket.html" . }}
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Deployment <br>Assistance
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-section__subsection row">
          <div class="col-md-24">
            <h3 class="content-subtitle"><span>How savy am i at these things?</span><div class="bordered-triangle"></div></h3>
            <div class="skills">
              <div class="skill row">
                <div class="skill__name col-sm-10">HTML</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
              <div class="skill row">
                <div class="skill__name col-sm-10">CSS</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
              <div class="skill row">
                <div class="skill__name col-sm-10">Communication</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
              <div class="skill row">
                <div class="skill__name col-sm-10">Javascript/jquery</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
              <div class="skill row">
                <div class="skill__name col-sm-10">UI/UX</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
              <div class="skill row">
                <div class="skill__name col-sm-10">Logo Design</div>
                <div class="skill__rating col-sm-14">
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle filled"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                  <div class="rating-circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
