<div class="content-title">Process</div>
<div class="content-spacer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-24">
        <div class="content-intro">
          <p class="m-0">Like a good home-cooked meal, a good website takes time to make, with proper prep work needed to make the perfect website for your needs. My bread and butter is in building one-page applications and static websites (ones that don't have a backend and are therefore more secure). Below are the stages of what a typical project's life will look like.</p>
        </div>
        <div class="content-section__subsection">
          <h3 class="content-subtitle"><span>My Process</span>
            <div class="bordered-triangle"></div>
          </h3>
          <div class="features">
            <div class="features__top-row row justify-content-between">
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-sitemap.html" . }}
                  <div class="bordered-triangle bordered-triangle--top-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Planning & <br>Discovery Stage
                  </h4>
                  <p class="feature-desc">
                    This is where I sit down with you and understand what your project is about. The target audience, timeline and budget will all be discussed. This is also the phase in which I will brainstorm and research ideas in order to bring your project to life.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-design.html" . }}
                  <div class="bordered-triangle bordered-triangle--top-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Conceptional & <br>Design Stage
                  </h4>
                  <p class="feature-desc">
                    Once I've done the research on the deliverables of your project, it's time to storyboarding your website and laying out visuals. During this time, it's possible revisions can be made before the coding phase based on request.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-development.html" . }}
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Development <br>Stage
                  </h4>
                  <p class="feature-desc">
                    Hence the name, this stage is centered around the technical aspects of a website. Markup is created, along with client deliverables. Site functionality is implemented from the site requirements.
                  </p>
                </div>
              </div>
            </div>
            <div class="features__bottom-row row justify-content-center">
              <div class="feature feature--finishing-touches col-md-16">
                <div class="feature-icon">
                  <img src="/images/icon-desktop-diamond.png" alt="">
                  <div class="bordered-triangle bordered-triangle--bottom-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Finishing Touches
                  </h4>
                  <p class="feature-desc">
                    After testing and ensuring proper support for mobile devices and modern browsers, the site is ready to launch! Things like client training (of the CMS) and any last-minute updates also take place during this phase.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
