<div class="content-title">Process</div>
<div class="content-spacer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-24">
        <div class="content-intro">
          <p class="m-0">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
            odio sem nec elit. Cras justo odio, dapibus ac facilisis in. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.</p>
        </div>
        <div class="content-section__subsection">
          <h3 class="content-subtitle"><span>My Process</span>
            <div class="bordered-triangle"></div>
          </h3>
          <div class="features">
            <div class="features__top-row row justify-content-between">
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-sitemap.html" . }}
                  <div class="bordered-triangle bordered-triangle--top-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Planning & <br>Discovery Stage
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-design.html" . }}
                  <div class="bordered-triangle bordered-triangle--top-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Conceptional & <br>Design Stage
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
              <div class="feature col-md-6">
                <div class="feature-icon">
                  {{ partial "svgs/icon-development.html" . }}
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Development <br>Stage
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
            </div>
            <div class="features__bottom-row row justify-content-center">
              <div class="feature feature--finishing-touches col-md-16">
                <div class="feature-icon">
                  <img src="/images/icon-desktop-diamond.png" alt="">
                  <div class="bordered-triangle bordered-triangle--bottom-row-process"></div>
                </div>
                <div class="feature-info">
                  <h4 class="feature-title">
                    Finishing Touches
                  </h4>
                  <p class="feature-desc">
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
