/* -----------------------------------------------------
/* Callout
/* ----------------------------------------------------- */

.city {
	height: 510px;
}

.city__content {
	position: relative;
	svg {
		height: 903px;
		position: absolute;
		margin-left: -4000px;
		z-index: -2;
		left: percentage(4000/8000);
	}
}

.callout {
	padding-bottom: 30px;
	background: $jt-green;
}

.callout-box {
	background: $jt-yellow;
	border: 5px solid $jt-black;
	padding: 25px;
	position: relative;
	margin: 0 auto 60px auto;
	max-width: 800px;
	&::after,
	&::before {
		content: '';
		left: 50%;
		position: absolute;
	}

	&::before {
		bottom: -30px;
		z-index: 20;
		margin-left: -28px;
		border-left: 28px solid transparent;
		border-right: 28px solid transparent;
		border-top: 33px solid $jt-yellow;
	}

	&::after {
		bottom: -38px;
		z-index: 10;
		margin-left: -33px;
		border-left: 33px solid transparent;
		border-right: 33px solid transparent;
		border-top: 38px solid $jt-black;
	}
}

.callout-box__top {
	margin-bottom: 20px;
	font-weight: 900;
	text-align: center;
	.tk-effra {
		@include rfs(50);
		display: block;
	}
	.tk-ff-tisa-sans-web-pro {
		display: inline;
		font-weight: 100;
		@include rfs(44);
	}
	.tk-ff-tisa-web-pro {
		display: inline;
		@include rfs(44);
	}
}

.callout-box__bottom {
	@include rfs(20);
	text-align: center;
	font-family: $ff-tisa;
	p {
		margin: 0;
	}
}

.callout-photo {
	width: 170px;
	height: 170px;
	border: 5px solid $jt-black;
	border-radius: 50%;
	margin: auto;
	> img {
		width: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}

@include media-breakpoint-down(lg) {

	.city {
		height: 400px;
	}

	.city__content {
		svg {
			height: 703px;
		}
	}

}

@include media-breakpoint-down(sm) {

	.city {
		height: 15px;
	}

	.city__content {
		svg {
			height: 475px;
		}
	}

	.callout {
		background: linear-gradient(180deg, rgba(96,191,186,0) 0%, rgba(96,191,186,1) 50%, rgba(96,191,186,1) 100%);
	}

	.callout-box {
		border: 3px solid $jt-black;
		padding: 15px;
		margin-top: 0px;
		&::before {
			bottom: -23px;
			margin-left: -20px;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 25px solid $jt-yellow;
		}
		&::after {
			bottom: -28px;
			margin-left: -23px;
			border-left: 23px solid transparent;
			border-right: 23px solid transparent;
			border-top: 28px solid $jt-black;
		}
	}

	.callout-box__top-mobile {

	}

	.callout-box__top {
		line-height: 1.1;
		font-weight: 700;
		.tk-effra {
			font-size: 30px !important;
		}
	}

	.content-divider {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.callout-box__bottom {
		font-size: 18px;
	}

	.callout-photo {
		width: 150px;
		height: 150px;
		border: 3px solid $jt-black;
	}

}

@include media-breakpoint-down(xs) {



}
